:root {
  --background-color: #f4f4f4;
  --text-color: #000;

  --pink: #e9baa7;
}

html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: var(--text-color);
  background: var(--background-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.icon {
  height: 1.5em;
}
