:root {
  --background-color: #f4f4f4;
  --text-color: #000;

  --pink: #e9baa7;
  --hinge-purple: #6a42ed;
  --hinge-purple-light: #6a42ed44;
  --hinge-pink: #f6d6c8;
}

html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: var(--text-color);
  background: var(--background-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.icon {
  margin: auto;
  height: 1.5em;
}

button {
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--hinge-purple),
    0 0 2px 6px var(--hinge-purple-light);
}

button:hover {
  transform: scale(1.1);
}

a {
  color: inherit;
}

a:hover,
a:focus {
  outline: none;
  color: var(--hinge-purple);
}
